<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetsu Fragances</title>
    <%- include("../partials/head.ejs"); %>
    <%- include("../partials/css.ejs"); %>
</head>
<body>
    
        <% if (user.admin) { %>
            <a href="/shop/mp" class="adminButton">Chatea con los usuarios</a>
            <div class="Subcontainer">
                <h2>Ingrese un nuevo producto</h2>
                <form enctype="application/json" class="myForm">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input type="number" name="price" id="price" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="photo">Ingrese link a la imagen del producto</label>
                        <input type="text" name="photo" id="photo" class="form-control" min="0" max="120"/>
                    </div>
                    <div class="form-group">
                        <label for="desc">Ingrese descripcion del producto</label>
                        <input type="text" name="desc" id="desc" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock del producto</label>
                        <input type="number" name="stock" id="stock" class="form-control" min="0" max="100"/>
                    </div>
                    <div class="form-group">
                        <label for="code">Ingrese codigo del producto</label>
                        <input type="text" name="code" id="code" class="form-control" min="0" max="10"/>
                    </div>
                    <button type="submit" id="myButton" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        

        <div class="Subcontai2ner">
            <h2>Productos</h2>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
                </thead>
                <tbody id="element"></tbody>
            </table>
        </div>
        <% } %>

        <% if (!user.admin) { %>
            <a href="/shop/mp" class="adminButton">Chatea con el admin</a>
            <div class="Categories">
                <h3><a href="/shop/products">Todos los productos</a></h3>
                <h3><a href="/shop/products/man">Hombre</a></h3>
                <h3><a href="/shop/products/woman">Mujer</a></h3>
                <h3><a href="/shop/products/unisex">Unisex</a></h3>
            </div>
            <div class="ProdContainer">
                <% if (products.length) { %>
                    <% for (let i = 0; i < products.length; i++) { %>
                        <div class="ProdCard"> 
                            <h3><%= products[i].name %></h3>
                            <img src="<%= products[i].photo %>"/>
                            <div class="ProdVal"><h4>Precio: <%= products[i].price %></h4><h4>Stock: <%= products[i].stock %></h4></div>
                            <div class="AddCont">
                                <h4 class="AddToCart" onclick="addToCart(`<%= user._id %>`, `<%= Object.values(products[i])%>`)">Agregar al carrito</h4>
                                <div class="Select">
                                    <select id="<%= products[i].code %>">
                                        <% for (let j = 1; j < products[i].stock + 1; j++) { %>
                                            <option class="quantity" value=" <%= j%> "><%= j %></option>
                                        <% } %>
                                    </select>
                                </div>
                               
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <h1 class="ProdsNotFound">No se han encontrado productos</h1>
                <% } %>    
            </div>
        <% } %>
        <img class="Banner" src="https://res.cloudinary.com/ddi5wmffy/image/upload/v1666473186/Captura_desde_2022-10-22_18-11-56_swpoxm.png"/>
        <div class="ChatGroup">
            <h2>Chat general</h2>
            <div class="ChatMsgs">
            </div>
            <div class="Chat">
                <form enctype="application/json" class="chatForm">
                    <div class="form-group">
                        <h4 class="chatUser"><%= username %></h4>
                    </div>
                    <div class="form-group msgInput">
                        <input type="text" id="text" name="text" placeholder="Envia un mensaje" required>
                        <button type="submit" id="chatButton" class="btn btn-primary chatButton">Enviar</button>
                    </div>
                </form>   
            </div>
        </div>

        <footer>
            <div class="InfoFooter">
                <h4>Sitio desarrollado por Sasha Rodriguez Carlomagno</h4>
                <h4><a href="https://sasharcarlomagno.vercel.app/">Portfolio</a></h4>
                <h4><a href="https://www.linkedin.com/in/sasha-rodriguez-carlomagno/">Linkedin</a></h4>
            </div>
        </footer>

    <script src="/shop/ejs.js"></script>
    <script type="text/javascript" src="/shop/main.js" defer></script>
    <script>
       
        const addToCart = (userId, product) => {
            product = product.split(",")
            
            const quantity = $(`#${product[4]}`).find("option:selected").val();

            const newProd = {
                name: product[0], price: product[1], 
                photo: product[3], desc: product[5], 
                stock: product[2], code: product[4],
                quantity: quantity, category: product[6],
            };

            return fetch(`/api/cart/${userId}/products`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({"name": product[0], "price": product[1], "photo": product[3],
                "desc": product[5], "stock": product[2], "code": product[4], "quantity": Number(quantity), "category": product[6]}),
            })
            .then(_ => window.location.replace(`/shop/mycart/${userId}`))
        }
    </script>
</body>
</html>